includes:

parameters:
    level: max
    paths:
        - src
        - tests
    tmpDir: var/phpstan
    typeAliases:
        TransformerParams: 'array<string, int|string>'
    ignoreErrors:
        -
            identifier: missingType.iterableValue
            path: src/PicassoBundle.php
            message: '#loadExtension#'
            count: 1
