parameters:
    level: max
    paths:
        - src
        - tests
    tmpDir: var/phpstan
    ignoreErrors:
        -
            identifier: offsetAccess.nonOffsetAccessible
            path: tests/Functional/ConfigurationTest.php
        -
            identifier: argument.type
            path: tests/Functional/ConfigurationTest.php
