includes:

parameters:
    level: max
    paths:
        - src
        - tests
    tmpDir: var/phpstan
    typeAliases:
        TransformerParams: 'array<string, int|string>'
        CacheControlConfig: 'array{max_age: int|null, immutable: bool, error_max_age: int|null}'
    ignoreErrors:
        -
            identifier: missingType.iterableValue
            path: src/PicassoBundle.php
            message: '#loadExtension#'
            count: 1
